.project {
    display: flex;
    align-items: center;

    padding: 0.5rem 1rem; 
}

.project:hover {
    cursor: pointer;
    background-color: lightgray;
}

.project::before{
    content: url('./folder.png');
    padding-right: 5px;
}

.project--open {
    background-color: gray;
}

.project--open::before{
    content: url('./folderOpen.png');
}