.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 20px;
}

.projects,
.todos {
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.projects {
    gap: 12px;
}

.todos {
    gap: 4px;
}