.todos__header {
    font-size: 24px;
    text-decoration: underline;
    padding: 12px 0 20px 0;
    align-self: center;
}

.todo {
    display: grid;
    grid-template-columns: 30px 5fr 1fr 2fr;
    gap: 10px;
    align-items: center;
    padding: 4px;
}

.todo:hover {
    background-color: lightgray;
}

.todo__checkbox {
    content: url("./checkbox.png");
    width: 30px;
}

.todo__checkbox--checked {
    content: url("./checkboxChecked.png");
}

.todo__name {
}

.todo__priority {
}

.todo__date {
}