.footer {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    justify-content: center;
}

.footer__text {
    margin: 0;
}

.footer__image {
    width: 32px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.footer__image:hover {
    transform: rotate(360deg) scale(1.2);
}